        body {
            overflow-x: hidden;
        }

        #colorLink .nav-link.active:hover {
            color: #fff;
        }

        #colorLink .nav-link.active {
            background-color: #222323;
            color: #fff;
        }

        #colorLink .nav-link:hover {
            opacity: 0.7;
        }

        .bigText {
            font-size: 100px;
        }

        .imageContainer {
            height: 600px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1494752506380-096c49c33b8e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1540&q=80);
        }

        .carousel-caption {
            text-align: start;
        }

        .card {
            height: 600px;
        }

        @media (max-width: 575px) {
            #Nominees {
                font-size: 45px;
            }

            body {
                overflow-x: hidden;
            }

            #cell {
                margin-bottom: 8px;
            }
        }

        #search {
            width: 200px;

        }

        #login,
        #singUP {
            height: 38px;
        }

        #cell {
            margin-left: 8px;
        }

        #socialMidia{
            list-style: none;
            display: inline;
        }